<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.learn.gomillion.article.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.sg.learn.gomillion.article.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="read_count" property="readCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, title, read_count, create_time, update_time
    </sql>
</mapper>
